@keyframes animateDownBtn {
    to{
        transform: translate(-50%, -10px);
    }
}

@keyframes timeline-up-and-down {
    to{
        transform: translateY(-5px);
    }
}

@keyframes contactImgAnimation {
    to{
        transform: translateY(-10px);
    }
}