#work {
    width: 100%;
    padding-inline: $p;
    padding-top: 3rem;
    // Container for all the job tabs
    > section {
        height: fit-content;
        margin-top: 3rem;
        background-color: $color5;
        padding: 3rem;
        display: flex;
        gap: 0.2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3{
            color: $color1;
            font-size: xx-large;
            padding-bottom: 3rem;
        }

        // Job Tab
        .experience-container{
            width: 100%;
            padding: 1rem 2rem;
            background-color: $color1;
            border-radius: 0 5px;
            .experience-tab{
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;
                > div{
                    width: 45%;
                    display: flex;
                    justify-content: space-between;
                }
            }
            .experience-tab-extend{
                margin: 1rem 0;
                display: none;
                color: $color5;
            }

            &:hover{
                background-color: $color4;
                .experience-tab-extend{
                    display: block;
                }
            }
        }
    }
}